.button-center-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin: 0 4px;
    background: rgba(255, 255, 255, 0.16);
    color: white;

    &:hover {
        background: rgba(255, 255, 255, 0.32);
        color: rgba(28, 88, 217);
    }
}

.button-close {
    padding: 4px;
    border: none;
    background: none;
    color: white;
    &:hover {
        background: rgba(255, 255, 255, 0.16);
        color: white;
    }
}

.button-leave {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(210, 75, 78, 1);
    color: white;

    &:hover {
        color: white;
    }
}
