.dropdown-menu__dotmenu {
    .Menu__content {
        // fix overlay displaying above the dropdown if the content overflows on Safari
        -webkit-transform: translateZ(0);

        width: 264px;
    }

    .MenuItem > button {
        .MenuItem__primary-text,
        .grid {
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr auto auto auto;

            .title-with-new-badge {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
        .post_info__translate-icon {
            color: rgba(var(--center-channel-color-rgb), 0.56);
        }
    }

    .post_info__reminder-icon {
        color: rgba(var(--center-channel-color-rgb), 0.56);
    }

    .remind_menu__right_decorator {
        position: absolute;
        right: 10px;
        font-size: 12px;
    }
}
