.GuestBanner {
    border-bottom: 1px solid var(--ik-illustration-grey-7);
    background: var(--guest-banner-background);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 12px;
    gap: 8px;
}
