:root {
    // Cloned default hex values from base/css_variables to be used in the system console
    --sys-away-indicator: #FFAA4C;
    --sys-away-indicator-dark: #997113;
    --sys-button-bg: #0098FF;
    --sys-button-color: #fff;
    --sys-center-channel-bg: #fff;
    --sys-center-channel-color: #3d3c40;
    --sys-dnd-indicator: #FB472E;
    --sys-error-text: #fd5960;
    --sys-link-color: #0098FF;
    --sys-mention-bg: #fff;
    --sys-mention-color: #006AB2;
    --sys-mention-highlight-bg: #ffe577;
    --sys-mention-highlight-link: #166de0;
    --sys-new-message-separator: #f80;
    --sys-online-indicator: #3EBF4D;
    --sys-sidebar-bg: #292E3D;
    --sys-sidebar-header-bg: #1153ab;
    --sys-sidebar-header-text-color: #fff;
    --sys-sidebar-text: #fff;
    --sys-sidebar-text-60: #fff9;
    --sys-sidebar-text-80: #fffc;
    --sys-sidebar-text-active-border: #5d89ea;
    --sys-sidebar-text-active-color: #fff;
    --sys-sidebar-text-hover-bg: #3E435B;
    --sys-sidebar-unread-text: #fff;
    --sys-denim-button-bg: #1c58d9;
    --sys-denim-center-channel-text: #3f4350;

    // Cloned RGB values from base/css_variables, to be used as rgba(var(--sys-color), opacity_here) to apply opacity to base colors
    --sys-away-indicator-rgb: 255, 133, 0;
    --sys-away-indicator-dark-rgb: 153, 113, 19;
    --sys-button-bg-rgb: 0, 152, 255;
    --sys-button-color-rgb: 255, 255, 255;
    --sys-center-channel-bg-rgb: 255, 255, 255;
    --sys-center-channel-color-rgb: 61, 60, 64;
    --sys-dnd-indicator-rgb: 244, 67, 54;
    --sys-error-text-color-rgb: 244, 67, 54;
    --sys-link-color-rgb: 0, 152, 215;
    --sys-mention-bg-rgb: 255, 255, 255;
    --sys-mention-color-rgb: 20, 93, 191;
    --sys-mention-highlight-bg-rgb: 255, 229, 119;
    --sys-mention-highlight-link-rgb: 22, 109, 224;
    --sys-new-message-separator-rgb: 255, 136, 0;
    --sys-online-indicator-rgb: 62, 191, 77;
    --sys-sidebar-bg-rgb: 41, 46, 61;
    --sys-sidebar-header-bg-rgb: 17, 83, 171;
    --sys-sidebar-header-text-color-rgb: 255, 255, 255;
    --sys-sidebar-text-rgb: 224, 224, 224;
    --sys-sidebar-text-active-border-rgb: 76, 183, 255;
    --sys-sidebar-text-active-color-rgb: 255, 255, 255;
    --sys-sidebar-text-hover-bg-rgb: 62, 67, 91;
    --sys-sidebar-unread-text-rgb: 255, 255, 255;
    --sys-denim-button-bg-rgb: 28, 88, 217;
    --sys-denim-center-channel-text-rgb: 63, 67, 80;
}
