.schedule-post-modal {
    .modal &.GenericModal .modal {
        &-body {
            overflow: visible;

            .GenericModal__header {
                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .GenericModal__body {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }
    }

    &__repeat-checkbox {
        display: flex;
        gap: 10px;

        > input {
            align-self: center;
            width: 16px;
            height: 16px;
            margin: 0;
        }
        > label {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
        }
    }

    &__repeat-actions {
        display: flex;
        flex-direction: column;
        gap: 24px;
        > div {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            > label {
                width: 100px;
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .react-select {
            flex: 1;
            .react-select__control {
                min-height: 40px;
            }
        }

        &-every {
            > label {
                padding: 10px 0;
            }
            .schedule-every {
                display: flex;
                flex-direction: column;
                gap: 16px;
                > div {
                    display: flex;
                    gap: 16px;
                    .schedule-every-interval-select > .react-select__control {
                        min-width: 126px;
                    }
                }
                .schedule-every-month-select > .react-select__control {
                    min-width: 150px;
                }
            }

        }

        &-on {
            display: flex;
            align-items: center;
            min-height: 40px;
            > label {
                align-self: center;
            }
            > button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
            }
        }

        &-ends {
            > label {
                padding: 10px 0;
            }
            .schedule-ends-radio {
                display: flex;
                flex-direction: column;
                // gap: 20px;
                > div {
                    display: flex;
                    align-items: center;
                    min-height: 40px;
                    gap: 10px;
                }
                input, label {
                    margin: 0;
                }
                .schedule-ends-date-picker {
                    margin-left: 20px;
                }
            }
        }
    }
}
