.schedule-post-modal {
    .modal &.GenericModal .modal {
        &-body {
            overflow: visible;

            .GenericModal__header {
                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

    }
}
