.modal-dialog.more-direct-channels.more-modal.GenericModal {
    margin-top: calc(45vh - 280px);
    @media screen and (min-width: 1280px) {
        margin-top: calc(45vh - 340px);
    }
    .modal-content {
        padding: 0;
    }
    .GenericModal__body {
        padding: 0;
    }
}
