.virtual-list{
    &__ctr{
        display: flex;
        height: 100%;
        flex-direction: column;
    }
}

.thread-viewer__composer--fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
