.schedule-indicator {
    display: flex;
    align-items: center;
    padding: 0 24px;
    gap: 7px;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    > span:not(&__icon) {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__icon {
        width: 14px;
        height: 14px;
        fill: rgba(var(--center-channel-color-rgb), 0.64);
    }
}
