@import '../../sass/utils/module';

.DndModal {
    width: 600px;

    .btn-primary {
        height: 4rem;
        padding: 0 2rem;
        border-radius: $border-rad*2;
        font-size: 14px;
        font-weight: 600;
    }

    .GenericModal__header {
        padding: 28px 24px;
    }
}

.DndModal__input--no-border {
    border: none;
}

.DndModal__input__label {
    position: absolute;
    z-index: 1;
    top: -11px;
    left: 0;
    padding: 0 4px;
    margin: 0 14px;
    background: rgba(var(--center-channel-bg-rgb), 1);
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 10px;
}
