@import '../../sass/utils/module';

.post-reminder-modal {
    .modal-body {
        overflow: visible;
    }

    .dateTime__calendar-input {
        width: 100%;
        border: 2px solid var(--button-bg);
        font-size: 14px;

        @media screen and (max-width: 768px) {
            width: auto;
        }

        .Input_wrapper {
            padding: 0 10px;
        }

        button.dateTime__calendar-icon {
            margin: 0 8px 0 0;
            color: rgba(var(--center-channel-color-rgb), 0.64);
        }

        input#customStatus__calendar-input {
            &.form-control {
                height: auto;
                padding: 0;
                border: 0;
                font-weight: 400;

                &[readonly] {
                    background: transparent;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .dateTime {
        width: 100%;
        margin: unset;

        .dateTime__input {
            width: 100%;
        }
    }
}
