.post-image__details {
    .post-image__download {
        .file-kdrive__icon--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 3.2rem;
            height: 3.2rem;

            &:hover {
                background: rgba(v(center-channel-color-rgb), 0.08);
                color: rgba(v(center-channel-color-rgb), 0.72);
            }
        }
    }
}
