.call-modal {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
    text-align: center;

    .modal-content {
        min-width: 280px;
        padding: 24px;
        border-radius: 8px !important;
    }

    .GenericModal__body {
        width: 100%;
    }

    & .modal-header {
        display: none !important;
    }

    & .modal-body {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    &__text {
        margin-top: 8px;
    }

    &__calling-user {
        display: block;
        margin-top: 8px;
        color: rgb(var(--center-channel-color-rgb));
        font-size: 16px;
        font-weight: bold;
    }

    &__other-server-name {
        color: rgb(var(--center-channel-color-rgb));
        font-size: 12px;
    }

    &__calling-info {
        margin-top: 8px;
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-top: 18px;
        gap: 16px;

        > * {
            flex: 1;
            margin: 0 !important;
        }

        button {
            padding: 10px 12px;
            font-weight: 400;
        }
    }
}
