.image_preview_div {
    display: flex;
    align-items: center;
    text-align: center;
    height: calc(100vh - 168px);
    width: calc(100vw - 50px);
    border-radius: 8px;

    @media screen and (max-width: 768px) {
        border-radius: 0;
    }
}

.image_preview_canvas {
    &__normal {
        cursor: default;
    }
    &__hover {
        cursor: grab;
    }
    &__dragging {
        cursor: grabbing;
    }
}
