.schedule-post {
    &__menu-header {
        display: flex;
        min-width: 180px;
        min-height: 32px;
        align-items: center;
        padding: 5px 10px;
        margin: 0;
        color: var(--center-channel-color);
        font-weight: bold;
        pointer-events: none;

        @media screen and (max-width: 768px) {
            padding: 5px 8px;
        }
    }
}
