.schedule-post-modal {
    .modal &.GenericModal {
        @media screen and (max-width: 768px) {
            &.modal-dialog {
                margin: auto;
            }
        }

        & .modal-body {
            overflow: visible;

            .GenericModal__body {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }

        & .modal-footer {
            display: flex;
            justify-content: space-between;
            &::before,
            &::after {
                display: none;
            }
        }
    }
}
