@import '../../sass/utils/module';

.DndModal {
    width: 600px;

    .btn-primary {
        height: 4rem;
        padding: 0 2rem;
        border-radius: $border-rad*2;
        font-size: 14px;
        font-weight: 600;
    }

    .GenericModal__header {
        padding: 28px 24px 0;
    }

    .modal &.GenericModal .modal {
        &-body {
            overflow: visible;
        }

        &-content {
            width: 100%;
            padding: 28px 8px 24px 24px;
        }

        &-footer {
            padding: 0;
            padding-right: 16px;
            margin-top: 22px;
        }
    }

    .dateTime {
        width: 100%;
        margin: unset;

        .dateTime__date {
            margin-right: 16px;
        }

        .dateTime__input {
            width: 260px;
        }

        .dateTime__custom-time {
            width: 260px;

            .dateTime__custom-time-icon {
                position: static;
                margin-left: 10px;
            }
        }
    }
}
