@charset 'UTF-8';

.alert {
    padding: 16px 16px;
    border-radius: 10px;
    background: rgb(244, 246, 253);
    color: var(--center-channel-color);

    .alert-transparent {
        background: var(--center-channel-bg);
    }
    &.alert-with-icon {
        display: flex;
        justify-content: space-between;
        i {
            font-size: 16px;
            // 3px is directly on the pseudo element, +7 to make 12px
            padding-right: 9px;
        }
    }
}

.alert-grey {
    i {
        color: rgb(0, 152, 255);
    }
}

.alert-danger {
    border: none;
    i {
        color: rgb(255, 133, 0);
    }
}

.alert--confirm {
    display: inline-block;
    padding: 4px 10px;
    margin: 1px 0 0 10px;
}

.alert .btn-close {
    float: right;
    font-size: 21px;
    line-height: 20px;

    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}
