.sidebarHeaderContainer {
    display: flex;
    height: 55px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 10px 0 15px;

    &--desktop {
        margin-bottom: 0;
    }

    &:empty { // Ik change : if no children, collapse height
        display: none;
    }

    &__dropdownButton {
        display: flex;
        width: 100%;
        height: 44px;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        border-radius: 4px;
        margin-top: 16px;
        background: #0088B2;
        color: #FFF;
        font-size: 14px;
        gap: 10px;
        line-height: 1;
    }
}

.sidebar-header {
    color: var(--sidebar-text);
    cursor: pointer;
    font-family: Metropolis, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}