.sidebarHeaderContainer {
    display: flex;
    height: 55px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    &__dropdownButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0088B2;
        height: 44px;
        width: 100%;
        padding: 0;
        border: none;
        color: #FFF;
        border-radius: 4px;
        font-size: 14px;
        border-radius: 4px;
        gap: 5px;
        line-height: 1;
        margin-top: 16px;
    }
}

.sidebar-header {
    color: var(--sidebar-text);
    cursor: pointer;
    font-family: Metropolis, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}