.modal .GenericModal{

    &__body {
        padding: 0;
    }

    &.modal-dialog.CallRingingModal {
        min-width: 267px;
        max-width: 270px;
        min-height: 267px;
        .modal-content {
            background: #fff;
        }
        .modal-footer {
            display: none;
        }
        .content-body {
            display: flex;
            justify-content: center;
            padding: 16px;
        }
        .content-calling {
            padding: 8px;
            text-align: center;

            &__user {
                overflow: hidden;
                color: #333333;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &__info {
                padding-top: 8px;
                color: #666666;
            }
        }
        .content-actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            padding-top: 15px;
            gap: 16px;
            button {
                min-width: 66px;
                min-height: 44px;
                flex: auto;
                color: white;
                &.accept {
                    background: var(--sys-link-color);
                }
                &.decline {
                    background: var(--dnd-indicator);
                }
            }
        }
        @media (max-width: 768px) {
            margin-right: auto;
            margin-left: auto;
        }
    }
}
