.view-user-groups-modal {
    .modal-content .modal-header {
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;

        .modal-title {
            margin-left: 16px;

            i {
                margin-left: 5px;
                color: rgba(var(--center-channel-color-rgb), 0.56);
            }
        }

        button.user-groups-create {
            margin-right: 24px;
        }

        .details-action {
            .MenuWrapper {
                margin-left: auto;
            }

            button.action-wrapper {
                width: 4rem;
                height: 4rem;
                border: none;
                border-radius: 4px;
                margin-left: auto;
                color: rgba(var(--center-channel-color-rgb), 0.56);
                text-decoration: none;

                &:hover {
                    border-radius: 4px;
                    background: rgba(var(--center-channel-color-rgb), 0.08);
                    color: rgba(var(--center-channel-color-rgb), 0.72);
                    fill: rgba(var(--center-channel-color-rgb), 0.72);
                }

                &:active {
                    background-color: rgba(var(--button-bg-rgb), 0.08);
                    color: var(--button-bg);
                }

                i.icon {
                    display: inline;
                    font-size: 24px;
                    line-height: 24px;
                }
            }
        }
    }

    .modal-body {
        overflow: visible;

        .no-results__wrapper {
            padding-bottom: 60px;
        }

        .group-mention-name {
            margin: -24px 0 24px 6px;

            span.group-name {
                margin-left: 70px;
                color: rgba(var(--center-channel-color-rgb), 0.75);
                font-size: 12px;
                line-height: 12px;
            }

            span.group-source span {
                padding: 0 4px;
                border-radius: 4px;
                margin-left: 8px;
                background: rgba(var(--center-channel-color-rgb), 0.08);
                font-size: 10px;
                line-height: 16px;
            }
        }

        .user-groups-search {
            margin-bottom: 24px;
        }

        .user-groups-modal__content {
            &.group-member-list {
                max-height: 450px;
                padding-bottom: 16px;
                border-top: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
                overflow-y: scroll; // for Firefox and browsers that doesn't support overflow-y:overlay property
                overflow-y: overlay;

                &::-webkit-scrollbar {
                    width: 20px;
                }

                &::-webkit-scrollbar-track {
                    background: rgba(0, 0, 0, 0);
                }

                &::-webkit-scrollbar-thumb {
                    border: 8px rgba(0, 0, 0, 0) solid;
                    border-radius: 9999px;
                    background: rgba(var(--center-channel-color-rgb), 0.24);
                    background-clip: padding-box;
                }

                h2.group-member-count {
                    padding: 0 32px;
                    margin: 16px 0;
                    font-size: 16px;
                    line-height: 24px;
                }

                .group-member-row {
                    display: flex;
                    align-items: center;
                    padding: 8px 32px;

                    .group-member-name {
                        padding-left: 12px;
                    }

                    .group-member-username {
                        padding-left: 6px;
                        color: rgba(var(--center-channel-color-rgb), 0.75);
                        font-size: 12px;
                        line-height: 18px;
                    }

                    button.remove-group-member {
                        display: none;
                        width: 2.4rem;
                        height: 2.4rem;
                        margin-right: 0;
                        margin-left: auto;
                        color: rgba(var(--center-channel-color-rgb), 0.56);
                        font-size: inherit;

                        &:hover {
                            border-radius: 4px;
                            background: rgba(var(--center-channel-color-rgb), 0.08);
                            color: rgba(var(--center-channel-color-rgb), 0.72);
                            fill: rgba(var(--center-channel-color-rgb), 0.72);
                        }

                        &:active {
                            background-color: rgba(var(--button-bg-rgb), 0.08);
                            color: var(--button-bg);
                        }

                        i {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }

                    &:hover {
                        background: rgba(var(--center-channel-color-rgb), 0.08);

                        button.remove-group-member {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
