.modal-confirm .modal-footer .checkbox {
    margin-right: auto;
}
.modal-confirm .modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-confirm .modal-footer {
    justify-content: center !important;
}
