.channel-limit-indicator {
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 16px;

    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: 4px;
    margin-top: 24px;
    background: var(--center-channel-bg);
    color: var(--center-channel-color);
    gap: 12px;

    &__trigger-upgrade {
        padding: 0;
        border: none;
        background: none;
        color: var(--link-color);
        cursor: pointer;
        font: inherit;
        text-decoration: underline;
    }
}

