.channel-limit-indicator {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 24px;
    padding: 16px;
    gap: 12px;

    border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
    border-radius: 4px;
    background: var(--center-channel-bg);
    color: var(--center-channel-color);
}
