.switch-server-dropdown {
    overflow: hidden;
    width: 100%;
    align-items: center;
    padding: 0 16px;
    margin-top: 16px;

    & .team-label{
        width: 100%;
    }

    & .icons{
        display: flex;
        & .rotate{
            rotate: 180deg;
        }
    }

    & .icons + .icon-chevron-down {
        line-height: 40px;
    }

    & .bordered {
        overflow: hidden;
        border-radius: 4px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 14px;
        margin-top: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}

.switch-item {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    background: var(--switch-server-background);
    color: var(--switch-server-text-color);
    transition: background-color .3s ease;

    &:not(.isCurrent) {
        &:hover {
            background: var(--switch-server-hover-background);
        }
    }

    & .rotate {
        rotate: 180deg;
    }

    .icons {
        svg {
            color: var(--switch-server-icon-color);
        }
    }

    .icons +  {
        svg {
            fill: var(--switch-server-icon-color);
        }
    }

    &:not(.disabled) {
        cursor: pointer;
    }

    &.disabled {
        pointer-events: none;
        .team-label {
            color: #9F9F9F;
        }
    }


    .team-label {
        display: flex;
        overflow: hidden;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;

        & > .icon {
            margin-right: 8px;
        }

        &.hasDot > span {
            margin-right: 3px;
        }
    }
}

.switch-counter {
    display: inline-flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
    border-radius: 18px;
    margin-right: 2px;
    background-color: #E91E63;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
}
