.fill-ik-illustration-grey-1 {
    fill: var(--ik-illustration-grey-1);
}

.fill-ik-illustration-grey-2 {
    fill: var(--ik-illustration-grey-2);
}

.fill-ik-illustration-grey-3 {
    fill: var(--ik-illustration-grey-3);
}

.fill-ik-illustration-grey-4 {
    fill: var(--ik-illustration-grey-4);
}

.fill-ik-illustration-grey-5 {
    fill: var(--ik-illustration-grey-5);
}

.fill-ik-illustration-grey-6 {
    fill: var(--ik-illustration-grey-6);
}

.fill-ik-illustration-grey-7 {
    fill: var(--ik-illustration-grey-7);
}

.fill-ik-illustration-grey-8 {
    fill: var(--ik-illustration-grey-8);
}

.fill-ik-illustration-grey-9 {
    fill: var(--ik-illustration-grey-9);
}

.fill-ik-illustration-grey-10 {
    fill: var(--ik-illustration-grey-10);
}

.fill-ik-illustration-grey-11 {
    fill: var(--ik-illustration-grey-11);
}

.fill-ik-illustration-grey-12 {
    fill: var(--ik-illustration-grey-12);
}

.fill-ik-illustration-grey-13 {
    fill: var(--ik-illustration-grey-13);
}

.fill-ik-illustration-grey-14 {
    fill: var(--ik-illustration-grey-14);
}

.fill-ik-illustration-grey-15 {
    fill: var(--ik-illustration-grey-15);
}

.fill-ik-illustration-grey-16 {
    fill: var(--ik-illustration-grey-16);
}

.fill-ik-illustration-grey-17 {
    fill: var(--ik-illustration-grey-17);
}

.stroke-ik-illustration-grey-1 {
    stroke: var(--ik-illustration-grey-1);
}

.stroke-ik-illustration-grey-2 {
    stroke: var(--ik-illustration-grey-2);
}

.stroke-ik-illustration-grey-3 {
    stroke: var(--ik-illustration-grey-3);
}

.stroke-ik-illustration-grey-4 {
    stroke: var(--ik-illustration-grey-4);
}

.stroke-ik-illustration-grey-5 {
    stroke: var(--ik-illustration-grey-5);
}

.stroke-ik-illustration-grey-6 {
    stroke: var(--ik-illustration-grey-6);
}

.stroke-ik-illustration-grey-7 {
    stroke: var(--ik-illustration-grey-7);
}

.stroke-ik-illustration-grey-8 {
    stroke: var(--ik-illustration-grey-8);
}

.stroke-ik-illustration-grey-9 {
    stroke: var(--ik-illustration-grey-9);
}

.stroke-ik-illustration-grey-10 {
    stroke: var(--ik-illustration-grey-10);
}

.stroke-ik-illustration-grey-11 {
    stroke: var(--ik-illustration-grey-11);
}

.stroke-ik-illustration-grey-12 {
    stroke: var(--ik-illustration-grey-12);
}

.stroke-ik-illustration-grey-13 {
    stroke: var(--ik-illustration-grey-13);
}

.stroke-ik-illustration-grey-14 {
    stroke: var(--ik-illustration-grey-14);
}

.stroke-ik-illustration-grey-15 {
    stroke: var(--ik-illustration-grey-15);
}
