@charset "UTF-8";

@import 'utils/mixins';

.PostponeButtonsWrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    .PostponeButtons {
        width: 324px;

        &__apply {
            @include button-small;
            @include primary-button;
        }

        &__cancel {
            margin-left: '10px';
            @include button-small;
            @include tertiary-button;
        }
    }
}