@charset 'UTF-8';

.skeleton-mui{
    &.leave-channel-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
    }
}