
.tooltip {
    z-index: 2000;
    max-width: 220px;
    font-family: inherit;
    pointer-events: none;
    word-wrap: break-word;

    &.in {
        opacity: 1;
    }

    &#announcement-bar__tooltip {
        pointer-events: auto;
    }

    .tooltip-inner {
        max-width: 256px;
        padding: 8px;
        border-radius: 8px;
        background: #333333;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
        font-family: 'SuisseIntl';
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        word-break: break-word;
    }

    &.top {
        .tooltip-arrow {
            border-top-color: #333333;
            box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
        }
    }

    &.bottom {
        .tooltip-arrow {
            border-top-color: #333333;
            box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
        }
    }


    .tooltip-help {
        color: rgba(255, 255, 255, 0.75);
    }

    .tooltip-large-emoji {
        margin-bottom: 2px;
    }

    .tooltip-title {
        font-weight: 600;
        line-height: 15px;

        .emoticon {
            margin-right: 6px;
        }
    }

    .tooltip-hint {
        font-size: 11px;
        line-height: 16px;
        opacity: 56%;
    }

    .tooltip-shortcuts-container {
        display: flex;
        justify-content: center;
        padding: 4px 0;
        gap: 2px;
    }

    .emoticon {
        vertical-align: center;
    }
}

.floating-ui-tooltip {
    max-width: 220px;
    padding: 4px 8px;
    border-radius: 8px;
    background: #000;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    transition: opacity 0.15s linear;
    word-break: break-word;

    &.floating-ui-tooltip--visible {
        opacity: 0.9;
        transition: opacity 0.15s linear;
    }
}

.floating-ui-tooltip-arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #000;
    transform: rotate(45deg);
}
