$mail-preview-background: var(--mail-preview-background, var(--ik-background-hover, #f5f5f5));

$mail-preview-thin-color: var(--mail-preview-thin-color, var(--ik-font-secondary, #666));


.mail_attachment {
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding: 12px 16px;
    margin-top: 12px;
    border-radius: 4px;
    background-color: $mail-preview-background;
    margin-bottom: 8px ;

    &__row{
        display: flex;
        gap: 8px;
        align-items: center;
        max-width: 100%;
        white-space: nowrap;
        //@include font($size: 14px); // TODO

        * {
            flex-shrink: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: max-content;
        }

        .bold {
            font-weight: 500;
        }

        .thin {
            color: $mail-preview-thin-color;
            flex-shrink: 0;
        }

        .right {
            margin-left: auto;
            flex-basis: unset;
        }

        .border-right {
            border-right: 1px solid $mail-preview-thin-color;
            padding-right: 8px;
        }
    }
}

