.get-app-annoucement-bar-mobile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    &__logo {
        width: 56px;
        height: 56px;
        padding: 4px;
        border: 1px solid #E0E0E0;
        border-radius: 13px;
        background-color: #FFFFFF;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #000000;
    }

    &__product {
        color: #9F9F9F;
        font-size: 12px;
    }
}
