.modal .GenericModal{

    &__body {
        padding: 0;
    }

    &.modal-dialog.call_ringing_occupied_modal{
        position: absolute;
        top: 65%;
        left: 50%;
        width: 30%;
        transform: translate(-50%, -50%);
        
        .modal-header .close {
            span {
                margin-top: 64px;
                color: var(--dark-modal-font-color);
            }
        }
        .modal-content {
            overflow: hidden;
            background-color:var(--dark-modal-color);

               
        }
        .content-body {
            display: flex;
            height: 84px;
            align-items: center;
            padding: 22px, 24px, 22px, 24px;
            color: var(--dark-modal-font-color);
            transition-property: 10%;
            .text {
                margin: 16px 32px 16px 0px;
            }
            svg {
                margin: 16px;
                color:var(--denim-button-bg)
            }
        }
        .modal-footer {
            display: none;
        }
        @media (max-width: 768px) {
            margin-right: auto;
            margin-left: auto;
        }
    }
}
