.modal{

    &.fade .menuModal.modal-dialog {
        -webkit-transform: translate(0, 25%);
        transform: translate(0, 25%);
    }

    &.fade.in .menuModal.modal-dialog {
        -webkit-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }

    .GenericModal.menuModal.modal-dialog {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        height: auto;
        margin: 0;
    }
}
