@use "utils/mixins";
@use "utils/variables";

b,
strong {
    font-weight: 600;
}

a {
    color: variables.$primary-color;
    cursor: pointer;
    text-decoration: none;
    word-break: break-word;

    &:focus,
    &:hover {
        color: variables.$primary-color--hover;
    }
}

.color--link {
    color: variables.$link-color;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
/* Ik change : SuisseIntl weight 500 is declared as font-weight: 600 
   to visually align with Metropolis design */
@font-face {
    font-family: "SuisseIntl";
    src: url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/normal/suisse-intl-500-normal.woff2") format("woff2"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/normal/suisse-intl-500-normal.woff") format("woff"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/normal/suisse-intl-500-normal.ttf") format("truetype"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/normal/suisse-intl-500-normal.svg#suisse-intl-500-normal") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "SuisseIntl";
    src: url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/italic/suisse-intl-500-italic.woff2") format("woff2"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/italic/suisse-intl-500-italic.woff") format("woff"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/italic/suisse-intl-500-italic.ttf") format("truetype"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/500/italic/suisse-intl-500-italic.svg#suisse-intl-500-italic") format("svg");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "SuisseIntl";
    src: url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/normal/suisse-intl-400-normal.woff2") format("woff2"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/normal/suisse-intl-400-normal.woff") format("woff"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/normal/suisse-intl-400-normal.ttf") format("truetype"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/normal/suisse-intl-400-normal.svg#suisse-intl-400-normal") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "SuisseIntl";
    src: url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/italic/suisse-intl-400-italic.woff2") format("woff2"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/italic/suisse-intl-400-italic.woff") format("woff"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/italic/suisse-intl-400-italic.ttf") format("truetype"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/400/italic/suisse-intl-400-italic.svg#suisse-intl-400-italic") format("svg");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: "SuisseIntl";
    src: url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/normal/suisse-intl-300-normal.woff2") format("woff2"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/normal/suisse-intl-300-normal.woff") format("woff"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/normal/suisse-intl-300-normal.ttf") format("truetype"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/normal/suisse-intl-300-normal.svg#suisse-intl-300-normal") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "SuisseIntl";
    src: url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/italic/suisse-intl-300-italic.woff2") format("woff2"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/italic/suisse-intl-300-italic.woff") format("woff"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/italic/suisse-intl-300-italic.ttf") format("truetype"), url("https://fonts.storage.infomaniak.com/current/suisse-intl/300/italic/suisse-intl-300-italic.svg#suisse-intl-300-italic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}


body {
    @include mixins.font-smoothing;

    font-family: 'SuisseIntl', sans-serif;
}

h1,
h2,
h3 {
    font-family: SuisseIntl, sans-serif;
}

h1 {
    font-weight: 600;
}

.is-empty:empty {
    display: none;
}

label {
    &.has-error {
        color: variables.$red;
        font-weight: normal;
    }
}

.small {
    font-size: 12px;
}

.light {
    opacity: 0.73;
}

.word-break--all {
    word-break: break-all;
}

.whitespace--nowrap {
    white-space: nowrap;
}

.whitespace--normal {
    white-space: normal;
}

.overflow--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

ul,
ol {
    padding-left: 22px;
    margin-top: 3px;
    margin-bottom: 0.11em;
}

.fa {
    &.fa-1x {
        font-size: 1.6rem;
    }
}

.font-weight--normal {
    font-weight: normal;
}

.font-weight--semibold {
    font-weight: 600;
}

.cursor--pointer {
    cursor: pointer;
}

.app__body.font--open_sans {
    font-family: 'SuisseIntl', sans-serif;
}

.app__body {
    h1,
    h2,
    h3 {
        font-family: SuisseIntl, sans-serif;
    }
}

.color--link--adminack {
    padding-left: 20px;
    color: variables.$white;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
